<% const d = new Date() %>
<% let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, Vehicle Inventory. All rights reserved.</p>
  <p><a href="/inv/trigger-error" class="error-link">Test Error</a></p>
</footer>