<header>
  <h1>Vehicle Inventory</h1>
  
  <% if (loggedin) { %>
    <a href="/account/manage" class="account-link">Welcome <%= firstName %></a>
    <a href="/account/logout" class="logout-link">Logout</a>
  <% } else { %>
    <a href="/account/login" class="account-link">My Account</a>
  <% } %>
</header>